@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 0;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(100, 1, 1, 1);
}

.lists {
  margin-top: -150px;
}

footer {
  margin: 50px 0;
  text-align: center;
  font-weight: bold;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:1350px) {
  .movieRow--left, .movieRow--right {
    opacity: 1;
  }
  body{
    font-size: 18px;
  }
  footer{
    font-size: 14px;
  }
}